

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #f7f9fc;
  color: #333;
  padding: 10px
  margin: 0px;
  
}

/* Cabeçalho */
header {
  background-color: brown;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
  padding: 10px;
  padding-bottom: 5px;
  margin 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

}

header h1 {
  font-size: 2.5em;
}



section h2 {
  color: brown;
  margin-bottom: 15px;
}




/* Lista */
ul {
  margin-left: 20px;
}



/* Rodapé */
footer {
  margin-top: 0.05px;
  padding-top: 0.05px;
  border-top: 0.5px solid #ccc;
  text-align: left;
  font-size: 0.9em;
 
  
}

.objetivo-geral{

  border: 2px solid;
  padding: 20px;
  margin: 20px 0;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.metas{

  border: 2px solid;
  padding: 20px;
  margin: 20px 0;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.acoes{

  border: 2px solid;
  padding: 20px;
  margin: 20px 0;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.acoes div{

  flex: 1 1 300px;
  max-width: 200px;
}

.ajuda{

  border: 2px solid;
  padding: 20px;
  margin: 20px 0;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.apoio {

  width: 80px;
  display: block;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

}

.SENAI {
    border: 2px solid;
    padding: 20px;
    margin: 20px 0;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

